<script>
const myself = {name:"Wasim", thing1:"fav_gadget= laptop", thing2:"fav_food= curry", thing3:"fav_color= blue"};
</script>
<p>
    My name is {myself.name} and these are some of my favourite things:"
</p>
    <ol>
        <li>{myself.thing1}</li>
        <li>{myself.thing2}</li>
        <li>{myself.thing3}</li>
      </ol>